// Place all the styles related to the DailyStandings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	background-color: #BA4F00;
}

table {
	font-family: Verdana;
}

th {
	background-color: #EEC49A;
}

nav {
  background-color: #BA4F00;
	padding: 5px 0px;
}

nav li {
	display: inline-block;
	list-style: none;
	padding: 0px 30px;
	
}