// Place all the styles related to the DailyStandings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	background-color: #BA4F00;
	height: 2em;
	text-align: left;
	vertical-align: middle;
}

table {
	font-family: Verdana;
}

th {
	background-color: #EEC49A;
}